language: java
dist: precise

install:
  - sudo pip install requests[security]
  - sudo pip install coveralls

branches:
  only:
  - master
  - develop

jdk:
  - oraclejdk8

after_success:
  - mvn clean test jacoco:report coveralls:report
